.search-input {
  padding: 8px;
  color: black;
  border: 1px solid #cbd5e0;
  border-radius: 5px;
  outline: none;
  border-radius: 30px !important;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-40%);
  width: 25px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.search-icon2 {
  position: absolute;
  top: 45%;
  right: 30px;
  transform: translateY(-40%);
  width: 22px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.search-icon:hover {
  width: 30px;
  height: 35px;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.448);
  font-size: 13px;
}
.suggestions-box {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-top: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
}
